# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
!data/raw/.gitkeep
data/interim/*
!data/interim/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Trained models
models/*.pkl
models/*.joblib

# OS
.DS_Store
Thumbs.db
